.card{
    background-color: rgba(255, 251, 251, 0.837);
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin: auto 5px;
    width: 260px;
    border-radius: 7px;
    box-shadow:  0 6.5px 13px 0 rgb(15, 15, 15) ;
    &-info{
        &_img{
         max-width: 250px;
         border-radius: 7px;   
         object-fit: cover;
         }

        &_cat{
            text-transform: uppercase;
            margin-top: 2px;
            color: rgb(163, 161, 161);
        }
        &_titulo{
            text-align: center;
            border-bottom: 1px  solid gray;
        }
        &_oferta{
            color: rgb(63, 59, 59);
            display: inline-block;
            width: 50%;
            text-align: center;
            margin: auto 2px;
            margin-top: 5px;
            background-color: var(--amarillo);
        }
        &_precio{
            
            text-align: center;
        }
    }
}   